.list-item-border {
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #e2dcdc;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}

.list-item {
    height: 210px;
}

    .list-item img {
        border: 1px solid white;
        border-radius: 10px;
        box-shadow: 2px 2px 3px #888888;
        width: 150px;
        height: 120px;
    }

.menu {
    position: fixed;
    margin: 10px;
    width: 180px;
}

    .menu label {
        margin: 10px;
    }

#orders > div > table {
    width: 100%;
}


.image-container img {
    margin-top: 20px;
    width: 400px;
    height: 300px;
}

.icon {
    width: 10%;
    height: 10%;
}

table#MainContent_ctl00_GridViewOrderedProducts {
    margin-top: 10px;
    margin-bottom: 10px;
}

    table#MainContent_ctl00_GridViewOrderedProducts > tbody > tr:nth-child(2n+1) {
        background-color: #f7f5f5;
    }

    table#MainContent_ctl00_GridViewOrderedProducts th {
        font-size: 16px;
    }

table img {
    border: 1px solid white;
    border-radius: 10px;
    width: 150px;
    height: 120px;
}

table table {
    width: 5%;
}

table table td {
    text-align: center;
}

table table td:hover {
    background-color: #e2dcdc;
    text-align: center;
}
